* {
  @include box-sizing(border-box);
}
html, body {
  // background: #12c3c3;
  // background: white;
  // @include gradient(#e65142, #fe0d3a, #fc0130);
  height: 100%;
}
html, body, header, footer, section {
  text-align: center;
  display: block;
}
footer, section {
  // padding: 350px 30%;
  margin: 0 auto;
}
.description {
  margin-top: 10px;
  margin-bottom: 50px;
}
h1 img {
  opacity: 0.7;
  width: 35px;
  margin: 100px auto;
  &:hover {
    opacity: 0.8;
  }
}
.intro {
  background: #fff;
  padding: 50px;
  max-width: 1000px;
  padding: 50px 2%;
  margin: 0 auto;
  p, a {
    color: #3e3e4a;
  }
  a {
    border-bottom: 2px solid #12c3c3;
  }
}
.intro {
  .col1 {
    float: left;
    width: 62%;
    margin-right: 3%;
    padding-right: 3%;
    // border-right: 2px solid rgba(1,0,0,0.1);
    @include respond-to(handhelds) {
      width: 100%;
      float: none;
      margin-right: 0;
    }
  }
  .col2 {
    float: left;
    width: 30%;
    // padding-left: 3%;
    @include respond-to(handhelds) {
      width: 100%;
      float: none;
    }
  }
}
.intro p {
  font-weight: 500;
  text-align: left;
  font-size: 18px;
  @include respond-to(handhelds) {
    text-align: center;
  }
}
.intro p:first-child {
  font-size: 25px;
  // margin-bottom: 20px;
  line-height: 29px;
}
.intro .wrap {
  // max-width: 860px;
}
.intro .dd {
  font-style: italic;
  font-size: 14px;
  opacity: 0.6;
  clear: both;
  text-align: center;
  margin-top: 35px;
  float: left;
  width: 100%;
}
.current {
  @include gradient(#215778, #29284b, #444377);
  border-left: 0;
  border-right: 0;
}
.clients {
  li, li a {
    // color: #1d1d2f;
  }
}
li:first-child {
}
li {
  font-size: 17px;
  list-style-type: none;
  margin-bottom: 50px;
  // padding-bottom: 50px;
  // padding-top: 30px;
  // border-bottom: 4px solid rgba(255,255,255,0.2);
  border: 20px solid white;
  // width: 20vw;
  // height: 20vw;
  width: 27%;
  height: 0;
  padding-bottom: 27%;
  background: transparentize(white,0.1);
  // float: left;
  display: inline-block;
  color: #215778;
  position: relative;
  margin-right: 3%;
  word-wrap: break-word;
  overflow: hidden;
  @include respond-to(medium-screens) {
    width: 45%;
    padding-bottom: 45%;
    &:nth-child(2n+2) {
      margin-right: 0;
    }
    &:nth-child(3n+3) {
      margin-right: 3%;
    }
  }
  @include respond-to(wide-screens) {
    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }
  @include respond-to(handhelds) {
    width: 100%;
    height: auto;
    margin-right: 0;
    padding: 30px 5%;
    margin-bottom: 25px;
  }
  a {
    color: #215778;
    width: 80%;
    @include respond-to(medium-and-above) {
      @include center;
    }
  }
  span {
    margin-top: 10px;
    word-wrap: break-word;
  }
  &:last-child {
    margin-right: 0;
  }
}
li ul {
  margin: 0;
}
li ul li:first-child {
  border-top: 0;
  padding-top: 0;
}
li ul li {
  font-size: 16px;
  margin: 0 0;
  padding: 0;
  border: 0;
}
.projects {
  @include gradient(#215778, #29284b, #444377);
  @include clearfix;
  padding: 150px 5% 150px;
  @include respond-to(handhelds) {
    padding: 50px 5%;
  }
  h2 {
    color: white;
    margin: 0 auto;
  }
  hr {
    width: 10%;
    border: 0;
    height: 10px;
    opacity: 0.2;
    background: white;
    margin-bottom: 50px;
  }
  ul {
    margin-top: 50px;
  }
}
.wrap {
  max-width: 1270px;
  @include clearfix;
}
.cp {
  background: #ffc000;
  @extend .cf;
  @include gradient(#215778, #29284b, #444377);
  li {
    // width: 50%;
    // float: left;
    // background: rgba(255,255,255,0.2);
    // padding: 20px;
  }
}
/*
.cp {
  background: #ffc000;
  h2, .section-wrap {
    height: 100%;
    display: table
  }
  h2 {
    width: 35%;
    float: left;
    text-align: right;
    padding: 4em;
    background: rgba(255,255,255,0.2);
  }
  h2 strong, ul {
    display: table-cell;
    vertical-align: middle;
    position: relative;
  }
  ul {
    width: 60%;
    margin-left: 4em;
  }
}
*/
li {
  a {
  }
  span {
    display: block;
    font-weight: bold;
  }
}

.intro {
  padding: 75px 0%;
  @include respond-to(handhelds) {
    padding: 50px 5%;
  }
  h3 {
    color: #215778;
    text-align: left;
    @include respond-to(handhelds) {
      text-align: center;
      margin-top: 30px;
    }
    // margin-top: 50px;
  }
}


footer {
  padding: 50px 5%;
}

.ks {
  background-color: #2bde73;
  color: white;
  padding: 100px 5%;
  .description {
    width: 65%;
    float: left;
    @include respond-to(handhelds) {
      width: 100%;
      float: none;
    }
    @include respond-to(medium-screens) {
      width: 100%;
      float: none;
    }
  }
  h1 {
    color: white;
    text-align: left;
    font-size: 64px;
    line-height: 60px;
    margin-bottom: 15px;
  }
  h3 {
    text-align: left;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 8px;
  }
  .button {
    background: white;
    padding: 18px 20px;
    font-size: 20px;
    color: #2bde73;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
    float: left;
    @include border-radius(3px);
    @include respond-to(medium-screens) {
      display: block;
    }
    @include respond-to(handhelds) {
      display: block;
    }
  }
  h1, h3, .button {
    @include respond-to(handhelds) {
      text-align: center;
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
    @include respond-to(medium-screens) {
      text-align: center;
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .ks-embed {
    float: left;
     width:30%;
     margin-right: 5%;
     @include respond-to(handhelds) {
      width: 100%;
      margin: 0 auto;
      float: none;
     }
     @include respond-to(medium-screens) {
      width: 100%;
      margin: 0 auto;
      float: none;
     }
  }
}