@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Copyright Cottleston Pie LLC - 2014 */
@import url("//hello.myfonts.net/count/25c5fc");
/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 64, ../sass/modules/_mixins.scss */
html, body, * {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* UTILITIES */
/* line 4, ../sass/modules/_utilities.scss */
.cf:before, .cp:before, .cf:after, .cp:after {
  content: " ";
  display: table;
}

/* line 5, ../sass/modules/_utilities.scss */
.cf:after, .cp:after {
  clear: both;
}

/* line 7, ../sass/modules/_utilities.scss */
.cf, .cp {
  *zoom: 1;
}

/* line 11, ../sass/modules/_utilities.scss */
.hide {
  display: none;
}

/* @license
 * MyFonts Webfont Build ID 2475516, 2013-02-10T12:19:37-0500
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: Macha Book by Positype
 * URL: http://www.myfonts.com/fonts/positype/macha/book/
 *
 * Webfont: Macha Medium by Positype
 * URL: http://www.myfonts.com/fonts/positype/macha/medium/
 *
 * Webfont: Macha Thin by Positype
 * URL: http://www.myfonts.com/fonts/positype/macha/thin/
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2475516
 * Webfonts copyright: Copyright (c) 2011 by Neil Summerour. All rights reserved.
 *
 * © 2013 MyFonts Inc
*/
/* @import must be at top of file, otherwise CSS will not work */
@font-face {
  font-family: 'Macha-Book';
  src: url("webfonts/25C5FC_0_0.eot");
  src: url("webfonts/25C5FC_0_0.eot?#iefix") format("embedded-opentype"), url("webfonts/25C5FC_0_0.woff") format("woff"), url("webfonts/25C5FC_0_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Macha-Medium';
  src: url("webfonts/25C5FC_1_0.eot");
  src: url("webfonts/25C5FC_1_0.eot?#iefix") format("embedded-opentype"), url("webfonts/25C5FC_1_0.woff") format("woff"), url("webfonts/25C5FC_1_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Macha-Thin';
  src: url("webfonts/25C5FC_2_0.eot");
  src: url("webfonts/25C5FC_2_0.eot?#iefix") format("embedded-opentype"), url("webfonts/25C5FC_2_0.woff") format("woff"), url("webfonts/25C5FC_2_0.ttf") format("truetype");
}

/* line 4, ../sass/partials/_global.scss */
body {
  font-family: Macha-book;
}

/* line 8, ../sass/partials/_global.scss */
.wrap {
  margin: 0 auto;
}

/* line 14, ../sass/partials/_global.scss */
h1 {
  font: 48px "Macha-thin", Helvetica, Arial, sans-serif;
  color: #215778;
}
@media only screen and (max-width: 640px) {
  /* line 14, ../sass/partials/_global.scss */
  h1 {
    font-size: 36px;
    line-height: 42px;
  }
}

/* line 22, ../sass/partials/_global.scss */
h2 {
  font: 18px "Macha-medium", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: #215778;
}
@media only screen and (max-width: 640px) {
  /* line 22, ../sass/partials/_global.scss */
  h2 {
    font-size: 14px;
  }
}

/* line 33, ../sass/partials/_global.scss */
h2.tagline {
  margin-bottom: 0;
}

/* line 36, ../sass/partials/_global.scss */
h2.location {
  margin-top: 10px;
  letter-spacing: 0.8em;
  font-size: 16px;
  color: rgba(33, 87, 120, 0.5);
}
@media only screen and (max-width: 640px) {
  /* line 36, ../sass/partials/_global.scss */
  h2.location {
    font-size: 12px;
  }
}

/* line 46, ../sass/partials/_global.scss */
h3 {
  font-size: 22px;
  color: #fff;
  margin-bottom: 15px;
}

/* line 52, ../sass/partials/_global.scss */
p {
  color: #fff;
  display: block;
}

/* line 56, ../sass/partials/_global.scss */
a {
  color: #fff;
  text-decoration: none;
  padding-bottom: 2px;
}

/* line 66, ../sass/partials/_global.scss */
ul, ol {
  margin: 0.6em 0;
  padding: 0;
  font: 1.4rem;
  line-height: 1.4em;
}

/* line 67, ../sass/partials/_global.scss */
ul li, ol li {
  list-style-type: none;
  color: #fff;
}

/* line 77, ../sass/partials/_global.scss */
blockquote {
  font: normal 1.3em/1.3em "Macha-book", Helvetica, Arial, sans-serif;
  color: #666;
  margin: 1em;
}

/* line 3, ../sass/partials/_header.scss */
header {
  background: #fe0d3a;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first', endColorstr='$second');
  background: -webkit-gradient(linear, left top, left bottom, from(#e65142), to(#fe0d3a), color-stop(0.5, #fc0130));
  background: -moz-linear-gradient(top, #e65142, #fe0d3a, #fc0130);
  overflow: hidden;
  *zoom: 1;
}
@media only screen and (max-width: 640px) {
  /* line 3, ../sass/partials/_header.scss */
  header {
    padding: 30px 5%;
  }
}
@media only screen and (min-width: 641px) {
  /* line 3, ../sass/partials/_header.scss */
  header {
    height: 100%;
  }
}
/* line 13, ../sass/partials/_header.scss */
header .header-wrap {
  background: rgba(255, 255, 255, 0.9);
  border: 40px solid #fff;
  max-width: 800px;
}
@media only screen and (min-width: 641px) {
  /* line 13, ../sass/partials/_header.scss */
  header .header-wrap {
    width: 50vw;
    height: 50vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
@media only screen and (min-width: 641px) and (max-width: 971px) {
  /* line 13, ../sass/partials/_header.scss */
  header .header-wrap {
    width: 80%;
    padding-bottom: 80%;
    height: 0;
  }
}
@media only screen and (max-width: 640px) {
  /* line 13, ../sass/partials/_header.scss */
  header .header-wrap {
    padding: 30px 5%;
    border: 20px solid white;
  }
}
/* line 32, ../sass/partials/_header.scss */
header .content-wrap {
  color: black;
}
@media only screen and (min-width: 641px) {
  /* line 32, ../sass/partials/_header.scss */
  header .content-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

/* line 40, ../sass/partials/_header.scss */
header hr {
  width: 30%;
  background: rgba(33, 87, 120, 0.2);
  border: 0;
  height: 4px;
  margin: 55px auto;
}
@media only screen and (max-width: 640px) {
  /* line 40, ../sass/partials/_header.scss */
  header hr {
    margin: 25px auto;
  }
}

/* line 1, ../sass/partials/_footer.scss */
footer {
  background: #1d1f2e;
  margin-bottom: 150px;
}
/* line 4, ../sass/partials/_footer.scss */
footer a {
  border-bottom: 2px solid #12c3c3;
}
/* line 7, ../sass/partials/_footer.scss */
footer p {
  line-height: 19px;
}

/* line 1, ../sass/partials/_body.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../sass/partials/_body.scss */
html, body {
  height: 100%;
}

/* line 10, ../sass/partials/_body.scss */
html, body, header, footer, section {
  text-align: center;
  display: block;
}

/* line 14, ../sass/partials/_body.scss */
footer, section {
  margin: 0 auto;
}

/* line 18, ../sass/partials/_body.scss */
.description {
  margin-top: 10px;
  margin-bottom: 50px;
}

/* line 22, ../sass/partials/_body.scss */
h1 img {
  opacity: 0.7;
  width: 35px;
  margin: 100px auto;
}
/* line 26, ../sass/partials/_body.scss */
h1 img:hover {
  opacity: 0.8;
}

/* line 30, ../sass/partials/_body.scss */
.intro {
  background: #fff;
  padding: 50px;
  max-width: 800px;
  padding: 50px 4%;
  margin: 0 auto;
}
/* line 36, ../sass/partials/_body.scss */
.intro p, .intro a {
  color: #3e3e4a;
}
/* line 39, ../sass/partials/_body.scss */
.intro a {
  border-bottom: 2px solid #12c3c3;
}

/* line 44, ../sass/partials/_body.scss */
.intro p {
  font-weight: 500;
  text-align: center;
  font-size: 18px;
}

/* line 49, ../sass/partials/_body.scss */
.intro p:first-child {
  font-size: 28px;
  margin-bottom: 20px;
}

/* line 56, ../sass/partials/_body.scss */
.current {
  background: #29284b;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first', endColorstr='$second');
  background: -webkit-gradient(linear, left top, left bottom, from(#215778), to(#29284b), color-stop(0.5, #444377));
  background: -moz-linear-gradient(top, #215778, #29284b, #444377);
  border-left: 0;
  border-right: 0;
}

/* line 68, ../sass/partials/_body.scss */
li {
  font-size: 17px;
  list-style-type: none;
  margin-bottom: 50px;
  border: 20px solid white;
  width: 27%;
  height: 0;
  padding-bottom: 27%;
  background: rgba(255, 255, 255, 0.9);
  display: inline-block;
  color: #215778;
  position: relative;
  margin-right: 3%;
  word-wrap: break-word;
  overflow: hidden;
}
@media only screen and (min-width: 641px) and (max-width: 971px) {
  /* line 68, ../sass/partials/_body.scss */
  li {
    width: 45%;
    padding-bottom: 45%;
  }
  /* line 92, ../sass/partials/_body.scss */
  li:nth-child(2n+2) {
    margin-right: 0;
  }
  /* line 95, ../sass/partials/_body.scss */
  li:nth-child(3n+3) {
    margin-right: 3%;
  }
}
@media only screen and (min-width: 972px) {
  /* line 100, ../sass/partials/_body.scss */
  li:nth-child(3n+3) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 640px) {
  /* line 68, ../sass/partials/_body.scss */
  li {
    width: 100%;
    height: auto;
    margin-right: 0;
    padding: 30px 5%;
    margin-bottom: 25px;
  }
}
/* line 111, ../sass/partials/_body.scss */
li a {
  color: #215778;
  width: 80%;
}
@media only screen and (min-width: 641px) {
  /* line 111, ../sass/partials/_body.scss */
  li a {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
/* line 118, ../sass/partials/_body.scss */
li span {
  margin-top: 10px;
  word-wrap: break-word;
}
/* line 122, ../sass/partials/_body.scss */
li:last-child {
  margin-right: 0;
}

/* line 126, ../sass/partials/_body.scss */
li ul {
  margin: 0;
}

/* line 129, ../sass/partials/_body.scss */
li ul li:first-child {
  border-top: 0;
  padding-top: 0;
}

/* line 133, ../sass/partials/_body.scss */
li ul li {
  font-size: 16px;
  margin: 0 0;
  padding: 0;
  border: 0;
}

/* line 139, ../sass/partials/_body.scss */
.projects {
  background: #29284b;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first', endColorstr='$second');
  background: -webkit-gradient(linear, left top, left bottom, from(#215778), to(#29284b), color-stop(0.5, #444377));
  background: -moz-linear-gradient(top, #215778, #29284b, #444377);
  overflow: hidden;
  *zoom: 1;
  padding: 150px 5% 150px;
}
@media only screen and (max-width: 640px) {
  /* line 139, ../sass/partials/_body.scss */
  .projects {
    padding: 50px 5%;
  }
}
/* line 146, ../sass/partials/_body.scss */
.projects h2 {
  color: white;
  margin: 0 auto;
}
/* line 150, ../sass/partials/_body.scss */
.projects hr {
  width: 10%;
  border: 0;
  height: 10px;
  opacity: 0.2;
  background: white;
  margin-bottom: 50px;
}
/* line 158, ../sass/partials/_body.scss */
.projects ul {
  margin-top: 50px;
}

/* line 162, ../sass/partials/_body.scss */
.wrap {
  max-width: 1270px;
  overflow: hidden;
  *zoom: 1;
}

/* line 166, ../sass/partials/_body.scss */
.cp {
  background: #ffc000;
  background: #29284b;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first', endColorstr='$second');
  background: -webkit-gradient(linear, left top, left bottom, from(#215778), to(#29284b), color-stop(0.5, #444377));
  background: -moz-linear-gradient(top, #215778, #29284b, #444377);
}

/*
.cp {
  background: #ffc000;
  h2, .section-wrap {
    height: 100%;
    display: table
  }
  h2 {
    width: 35%;
    float: left;
    text-align: right;
    padding: 4em;
    background: rgba(255,255,255,0.2);
  }
  h2 strong, ul {
    display: table-cell;
    vertical-align: middle;
    position: relative;
  }
  ul {
    width: 60%;
    margin-left: 4em;
  }
}
*/
/* line 205, ../sass/partials/_body.scss */
li span {
  display: block;
  font-weight: bold;
}

/* line 211, ../sass/partials/_body.scss */
.intro {
  padding: 75px 5%;
}
@media only screen and (max-width: 640px) {
  /* line 211, ../sass/partials/_body.scss */
  .intro {
    padding: 50px 5%;
  }
}
/* line 216, ../sass/partials/_body.scss */
.intro h3 {
  color: #215778;
  margin-top: 50px;
}

/* line 223, ../sass/partials/_body.scss */
footer {
  padding: 50px 5%;
}
