// Variables
$radius: 4px;
$typeThin: "Macha-thin", Helvetica, Arial, sans-serif;
$typeBook: "Macha-book", Helvetica, Arial, sans-serif;
$typeMedium: "Macha-medium", Helvetica, Arial, sans-serif;

$break-small: 480px;
$break-medium: 480px;
$break-semi-large: 768px;
$break-large: 1024px;

$color-light: #e4eff0;
$color-dark: #426c6f;
$color-hover: #33595d;
$color-action: #e07a2f;
$color-text: #4c4c4c;